# Test Evidence

# First test scenario - Pass

![IMG_1999](https://github.com/user-attachments/assets/6e781745-9e38-4951-a35b-90cc367f3380)
![IMG_2001](https://github.com/user-attachments/assets/fcb48578-4382-484b-9b17-4691a7f92016)

# Second test scenario - Fail

![IMG_2004](https://github.com/user-attachments/assets/ef4345e4-74a1-411e-880c-c430486016ab)
![IMG_2002](https://github.com/user-attachments/assets/21e34c17-0967-4f44-892c-598ec183caf2)
